/*
Styrrrrre: something something terminal hackerman;

 i dont have an idea of our color palette
 yet, but i will leave these here for your convenience.

 darkslategrey      kinda greenblue, maybe accents?
 #062a34            dark greenblue, background and sidepanel
 3ae616             Terminal cool, prob too bright
 grey               genero
*/

html{
    box-sizing: border-box;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standart */
    background: #062a34;
}

@font-face{
    font-family: 'MyFont';
    src: url('fonts/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*
*::before
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MyFont', sans-serif;
    font-display: swap;
    height: inherit;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 94vh;
    border: 5px solid black;
    border-radius: 2vh;
    padding: 1vh 1vw;
    background: grey;
}

.currencyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#currencyDisplay{
    align-self: center;
    font-size: clamp(1rem, 3vw, 3rem);
}

#currency{
    align-self: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: #3AE616;
}

#ladybug{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(10vw, 50vw, 55vw);
    height: clamp(10vh, 50vh, 55vh);
    padding: 0;
    border: none;
    background: none;
    overflow: hidden;
}

#clickableArea{
    transform-origin: center center;
}

#clickableArea:active{
    transform: scale(1.1);
}

.sidebarOptions{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1vh;
    gap: 1vh;
    width: 30vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 3px solid darkslategrey;
    background: #062a34;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebarOptions.open{
    transform: translate(0)
}

.sidebarShop{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1vh;
    gap: 1vh;
    width: 30vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 3px solid darkslategrey;
    background: #062a34;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebarShop.open{
    transform: translate(0)
}

.resetButton{
    width: 100%;
    padding: 1vh;
    background-color: grey;
    color: white;
    cursor: pointer;
    font-family: 'MyFont', sans-serif;
    font-display: swap;
    font-size: clamp(0.8rem, 3vw, 2rem);
}

.shopButton{
    display: grid;
    grid-template-areas: 
    "name name name"
    "desc desc desc"
    "cost level fpc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1vh;

    width: 100%;
    padding: 2vh;
    background-color: grey;
    color: white;
    cursor: pointer;
    font-family: 'MyFont', sans-serif;
    font-display: swap;
    font-size: clamp(0.5rem, 2vw, 1rem);
}

.shopButton .name{
    grid-area: name;
    justify-self: center;
    font-size: clamp(0.8rem, 3vw, 2rem);
}

.shopButton .desc{
    grid-area: desc;
    align-self: center;
}

.shopButton .cost{
    grid-area: cost;
    align-self: end;
    justify-self: start;
}

.shopButton .level{
    grid-area: level;
    align-self: center;
    justify-self: start;
}

.shopButton .fpc{
    grid-area: fpc;
    align-self: start;
    justify-self: end;
}

.optionsToggle{
    position: fixed;
    top: 50%;
    left: calc(30vw + 2vh);     /*THE PADDING*/
    z-index: 1100;
    cursor: pointer;
    transform: translateX(calc(-30vw - 2vh));
    transition: transform 0.3s ease;
    background-color: darkslategrey;
    color: #3AE616;
    font-family: 'MyFont', sans-serif;
    font-display: swap;
    font-size: 2vw;
}

.optionsToggle.open{
    transform: translate(0)
}

.shopToggle{
    position: fixed;
    top: 50%;
    right: calc(30vw + 2vh);    /*THE PADDING*/
    z-index: 1100;
    cursor: pointer;
    transform: translateX(calc(30vw + 2vh));
    transition: transform 0.3s ease;
    background-color: darkslategrey;
    color: #3AE616;
    font-family: 'MyFont', sans-serif;
    font-display: swap;
    font-size: 2vw;
}

.shopToggle.open{
    transform: translate(0)
}