/*=========================================
            CUSTOMISATION WINDOW                      
=========================================*/

.customisationWindow {
  position: fixed;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  border-radius: 1rem;
  border: 0.125rem solid white;
  background: #062a34;
  color: white;
  font-size: clamp(1rem, 3vw, 3rem);
  z-index: 1000;
  transform: translateY(150%);
  transition: transform 0.3s ease;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 5%;
  padding-bottom: 5%;
}

.customisationWindow.open {
  transform: translate(0);
}

.customisationWindow::-webkit-scrollbar {
  display: none;
}

/*=========================================
                GRID CONTAINER                       
=========================================*/

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2rem;
  width: 80%;
  margin-top: 2rem;
}

/*=========================================
                GRID ITEMS                                
=========================================*/

.gridItem {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  background-color: grey;
  border: 0.125rem solid #fff;
  transition: background-color 0.2s;
}

.gridItem.costly {
  filter: brightness(0.4);
}

.gridItem:hover {
  background-color: darkgrey;
}

/*=========================================
              EXTRA CURRENCY                       
=========================================*/

#extraCurrency {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.25rem;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #3ae616;
  margin-top: 1rem;
}
