/*=========================================
            THE MAIN CLICKER                      
=========================================*/

#ladybug {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(10vw, 50vw, 55vw);
  height: clamp(10vh, 50vh, 55vh);
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
}

#clickableArea {
  transform-origin: center center;
}

#clickableArea:active {
  transform: scale(1.1);
}

#hat-container #emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  z-index: 999;
  width: 25vw;
  height: 18vh;
}
