/*=========================================
            THE MAIN CLICKER                      
=========================================*/

#ladybug {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(10vw, 50vw, 55vw);
  height: clamp(10vh, 50vh, 55vh);
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
}

#clickableArea {
  transform-origin: center center;
}

#clickableArea:active {
  transform: scale(1.1);
}

#hat-container {
  position: absolute;
  top: calc(33% - 10vh);
  left: calc(50% - 7.5vw);
  z-index: 999;
  width: 15vw;
  height: 10vh;
  border: 1px solid red;
}
